* {
    box-sizing: border-box;
    
}
body{
    background-image: url(../images/blur-bright-close-up-1124960.jpg); 
    background-size: 100%;
    font-family:'Indie Flower';
}
h1{
    font-family: 'Permanent Marker';
    color: rgb(100, 8, 8);
    font-size: 40px;

}
header{
    position: absolute;
    top:0;
    height: 100px;
    width: 100%;
    background: rgba(179, 132, 71, 0.678);
    /* opacity: 0.5; */
}
footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: rgba(179, 132, 71, 0.678);

}
p{
    position: relative;
    top: 175px;
    width: 50%;
    background-color:rgba(179, 132, 71, 0.678);
    margin: 0 auto;
    height:300px;
}

